:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #f87272;
  --secondary-color: #a6adba;
  --background-color: #1d232a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  /* min-width: 320px; */
  min-height: 100vh;
  /* color: var(--primary-color);
  background-color: var(--background-color); */
}

#root {
  height: 100vh;
}

/* global scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: #171c22;
}

::-webkit-scrollbar-track:hover {
  background: #2a2b2f;
}
